/* RESET ALL STYLES */

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    font-family: 'Roboto', sans-serif;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/* END RESET */

/* START SETTINGS */

:root {
    --blue: #2196F3;
    --gray: #757575;
    --dark-gray: #212121;
    --dark: #2F303A;
    --fs-general: 14px;
    --fs-secondary: 16px;
    --segment: 50px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding: 94px 0;
}

/* END SETTINGS */

/* STATIC SECTION */

/* HEADER */

.header {
    border-bottom: 1px solid #ECECEC;
}

.header-content {
    height: 80px;
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000;
}

.logo--white {
    color: #fff;
}

.web {
    color: var(--blue);
}

.menu {
    display: flex;
    margin-left: 93px;
}

.menu .menu-item {
    margin-right: 50px;
}

.menu .menu-item:last-child {
    margin-right: 0px;
}

.menu .menu-link {
    font-weight: 500;
    font-size: var(--fs-general);
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--dark-gray);
}

.menu .menu-link:hover,
.menu .menu-link:focus {
    color: var(--blue);
}

.contact {
    margin-left: 344px;
    display: flex;
}

.contact .contact-item:first-child {
    margin-right: 50px;
}

.contact-mail,
.contact-phone {
    font-style: normal;
    font-weight: 500;
    font-size: var(--fs-general);
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--gray);
}
.contact-mail:hover, .contact-mail:focus,
.contact-phone:hover, .contact-phone:focus {
    color: var(--blue);
}

/* FOOTER */

.footer {
    min-height: 252px;
    padding: 60px 0;
    background-color: var(--dark);
}

.footer .footer-list {
    margin-top: 20px;
}

.footer .footer-list .footer-item {
    margin-top: 9px;
}

.footer .footer-map {
    font-style: normal;
    font-size: var(--fs-general);
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF
}

.footer .footer-map:hover,
.footer .footer-map:focus {
    color: var(--blue);
}

/* ---END STATIC SECTION--- */

/* START MAIN PAGE */

/* SECTION HERO */

.hero {
    min-height: 600px;
    padding: 200px 0;
    background-color: var(--dark);
}

.hero .hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero .hero-btn {
    width: 216px;
    height: 50px;
    background: var(--blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: var(--fs-secondary);
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}

/* SECTION BENEFITS */

.benefits {
    min-height: 286px;
}

.benefits .benefits-list {
    display: flex;
    justify-content: space-between;
}

.benefits .benefits-list .benefits-item {
    width: 270px;
}

.benefits .benefits-subtitle {
    font-weight: 700;
    font-size: var(--fs-general);
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark-gray);
}

.benefits .benefits-text {
    margin-top: 10px;
    font-size: var(--fs-general);
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--gray);
}

/* SECTION DO */

.do {
    min-height: 480px;
    padding-bottom: 94px;
}

.do .do-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-gray);
}

.do .do-list {
    margin-top: var(--segment);
    display: flex;
    justify-content: space-between;
}


/* SECTION TEAM */

.team {
    background-color: #F5F4FA;
}

.team .team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-gray);
}

.team .team-list {
    margin-top: var(--segment);
    display: flex;
    justify-content: space-between;
}

.team .team-list .team-item {
    width: 270px;
    height: 368px;
    background-color: #fff;
}

.team .team-name {
    margin-top: 30px;
    font-weight: 500;
    font-size: var(--fs-secondary);
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-gray)
}

.team .team-rank {
    margin-top: 10px;
    font-size: var(--fs-secondary);
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--gray);
}

/* ---END MAIN PAGE=== */

/* START PORTFOLIO PAGE */

/* SECTION WORKS */

.works .btn-list {
    display: flex;
    justify-content: center;
    margin-bottom: var(--segment);
}

.works .btn-list .btn-item {
    margin-right: 8px;
}

.works .btn-list .btn-item:last-child {
    margin-right: 0px;
}

.works .works-btn {
    height: 38px;
    background: #F5F4FA;
    border: none;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 500;
    font-size: var(--fs-secondary);
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #000;
    cursor: pointer;
}

.works .works-btn:hover,
.works .works-btn:focus {
    background-color: var(--blue);
    color: #fff;
}

.works .btn--all {
    width: 73px;
}

.works .btn--sites {
    width: 125px;
}

.works .btn--apps {
    width: 112px;
}

.works .btn--design {
    width: 103px;
}

.works .btn--marketing {
    width: 130px;
}

.works .works-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.works .works-list .works-item {
    width: 370px;
    height: 404px;
    margin-bottom: 30px;
}

.works .works-list .works-item:nth-child(n + 7) {
    margin-bottom: 0px;
}

.works .works-list .works-item .works-label {
    width: 370px;
    height: 110px;
    border: 1px solid #EEEEEE;
    border-top: none;
    padding: 20px 24px;
}

.works .works-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--dark-gray);
    margin-bottom: 4px;
}

.works .works-text {
    font-size: var(--fs-secondary);
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}

/* ---END PORTFOLIO PAGE--- */