.service {
  display: none;
  padding-bottom: 94px;

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.service__list {
  display: flex;
  justify-content: space-between;
}

.service__item {
  position: relative;
}

.service__label {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.service__text {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}
